# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual env
venv/
.venv/
env/

# Data (тяжёлые файлы — не коммитим raw данные)
data/raw/*
!data/raw/.gitkeep
data/processed/*.csv

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints
